extends layout/layout

block content
	section.page.page-1
		.page-bg
			img(src=prefix+"/img/page-1.png")
			a.button(href="#" data-go-step="2")
				img(src=prefix + "/img/page-1-button.png")

	section.page.page-2
		.page-bg
			img(src=prefix + "/img/page-2.png")
			.card-box#js-container
				canvas.canvas(id="js-canvas")
				img.card-img(src=prefix + "/img/odul-1.png" style="visibility: hidden")
				img.canvas-bg(src=prefix + "/img/card.png")

	section.page.page-3
		.page-bg
			img(src=prefix + "/img/page-3.png")
			img.gift-img(src=prefix + "/img/odul-1.png")
			a.button(href="#")
				img(src=prefix + "/img/page-3-button.png")

block scripts
	script(type="text/javascript", src=prefix + "/js/game.js")