.page {
  display: none;

  &.active {
    display: block;
  }
}

.page-1 {
  display: block;

  .button {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }
}

.page-2 {
  .card-box {
    position: absolute;
    left: 0;
    top: 38%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
    }

    .card-img {
      position: relative;
      width: 100%;
      margin-top: 4%;
      z-index: 2;
    }

    .canvas-bg {
      position: absolute;
      left: 0;
      top: -1px;
      width: 100%;
      z-index: 1;
    }
  }
}

.page-3, .page-try {
  .gift-img {
    position: absolute;
    left: 0;
    top: 29%;
  }
  .button {
    position: absolute;
    left: 50%;
    bottom: 14%;
    transform: translateX(-50%);
  }
}