- var prefix = "./public/dist"
<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title MC DONALDS
		meta(name="description", content="MC DONALDS")
		meta(name="keywords", content="MC DONALDS")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		link(rel="stylesheet", href=prefix+"/css/style.css")

	body
		.loading
		main#main
			img.main-bg(src=prefix+'/img/bg.jpg')
			block content


		script(type="text/javascript", src=prefix+"/js/bundle.js")
		script(type="text/javascript", src=prefix+"/js/script.js")
		block scripts
