body {
  position: relative;
  padding: 10px;
  overflow: hidden;

  @media only screen and (max-height: 650px) {
    margin-top: -40px;
  }
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  z-index: 99999;
  border-radius: 50%;
  background: url("../img/loader.png") center center no-repeat #fff;
  background-size: 70px;
}

#main {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh;
  background: url("../img/bg-2.jpg") top center repeat-y;
  background-size: contain;

  .main-bg {
    width: 100%;
    opacity: 0;
    z-index: -1;
  }
}

.page-bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 640px;
  max-width: 100%;
  margin-left: -50%;
  display: none;

  > img {
    width: 100%;
  }
}

.button {
  display: block;
  width: 100%;
  text-align: center;

  img {
    display: inline-block;
    max-width: 80%;
  }
}